<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">Prices and completion date vary for each project, please inquire within for a free quote!</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-flash fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Cabinetry and Bathroom Vanities</h4>
                    <p class="text-muted">Cabinetry and vanities can be made to fit any budget. Prices will vary, based on the of wood chosen, drawer construction (melamine, plywood, or solid wood. Plywood and solid wood drawers can be dovetail jointed), type of drawer slides (side mount or bottom mount soft close) and hardware chosen.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Lockers/Boot Benches</h4>
                    <p class="text-muted">Prices of locker cabinets/boot benches will vary, depending of species of wood chosen, finish, and dimensions.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-fire fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Fireplace Mantels</h4>
                    <p class="text-muted">We offer many different styles of mante;s. Whether you're looking for a simple mantel above your fireplace, or a complete surround, Lost Art Woodworks, LLC can build you the mantel of your dreams!</p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-home fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Furniture</h4>
                    <p class="text-muted">Lost Art Woodworks, LLC builds custom furniture to your exact specifications and dimensions. We specialize in unique, one of a kind, handcrafted pieces.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-wrench fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Custom Work</h4>
                    <p class="text-muted">Show us your design, and we can bring in to life! We love working on custom, one-off pieces.</p>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </section>